/* Downloaded font from DaFont.com */
@font-face
{
    font-family:  'ataurus';
    src: url('../fonts/ataurus.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family:  'pixelmix';
    src: url('../fonts/pixelmix.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Websites background color and width */
body
{
    width: 1500px;
    background-color: #3f4519;
    color: #ffffff;
    overflow-y: hidden;
}

/* Jumbotron Banner */
.jumbotron
{
    background-image: url("../images/gameofthrowns.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-color: #3f4519;
}

/* Main Content Div contains lower right image and background color */
.mainContent
{
    height: 675px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #3f4519;
    background-image: url("../images/rockpaperscissors.gif");
    background-size: 325px 300px; 
    background-repeat:no-repeat;
    background-position:right bottom; 
}

input
{
    padding: 5px;
    margin: 5px;
    color: black;
}

.gameStatus
{
    font-family: 'pixelmix';
    font-size: small;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Start of all CSS pertaining to the 3 boxes*/
/* Width of Row CSS, Font Size and Font Family */
.row
{
    width: 59%;
    font-family: 'pixelmix';
    font-size: x-large;
    color: #ffffff;
    margin: 0 auto;
}

/* Adds box sizing, border Style and aligns all boxes */
.playerInfo, .results
{
    float: left;
    height: 250px;
    width: 250px;
    margin: 20px;
    padding: 10px;
    border-style: double;
    border-color: #ffffff;
    border-width: 8px;
    box-sizing: border-box;

}

.playerWaiting
{
    font-size: medium;
    line-height: 1.5;
}
/* End of all CSS pertaining to the 3 boxes*/